body {
    --app-color: #50b7f5;
    --app-background: #e6ecf0;
}

.profile {
    display: flex;
    height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.profilecontent {
    border-right: 1px solid var(--app-background);
    min-width: fit-content;
    overflow-y: scroll;
    border-left: 1px solid var(--app-background)
}

.profilecontent::-webkit-scrollbar {
    display: none;
  }

.profilecontent {
-ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */
}