.sidebar-choice {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-choice > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebar-choice > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebar-choice:hover {
    background-color: #e8f6fe;
    border-radius: 30px;
    color: var(--app-color);
    transition: color 100ms ease-out;
}

.sidebar-choice--active {
    color: var(--app-color);
}