#mylogo {
    display: flex;
    margin-left: 150px;
}

.SplashWholePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans Unicode';
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.SplashNoFoot {
    display: flex;
    height: 100%;
    width: 100%;
}

.SplashRightContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 45vw;
}

.SplashImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.SplashLeft {
    width: 1039px;
    height: 100%;
}

.SplashRight {
    padding: 16px;
}

.SplashIconContainer {
    height: 50px;
}

.SplashIcon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.SplashSlogan {
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -1.2px;
    line-height: 84px;
    overflow-wrap: break-word;
    margin-bottom: 48px;
    margin-top: 48px;
    margin-left: 60px;
    color: rgb(0, 0, 0);
}

.SplashText {
    color: rgb(0, 0, 0);
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: 700;
    margin-left: 80px;
}

.SplashBorderManipulation {
    display: flex;
    align-items: center;
}

.SplashBorder {
    border-bottom: 1px solid gray;
    height: 18px;
    width: 100px;
    padding-left: 55px;
}

.SplashBorderOr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    width: 30px;
    height: 30px;
    top: 9px;
    
}

.SplashAccText {
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 17px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
}

.SplashFooter {
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.SplashAbout {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

.SplashAbout:hover {
    text-decoration: underline;
    color: var(--app-color)
}

.SplashLinkedin {
    text-decoration: none;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.SplashGithub {
    text-decoration: none;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}