.SplashDemoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 25px;
}

.DemoButtonText {
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}