.LoginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 650px;
}

.LoginClose {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.Loginwithoutclose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginInput {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: transparent;
    border: none;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    width: 420px;
    resize: none;
    outline: none;
}

.mylogo {
    width: 70px;
    height: 70px;
    background-color: var(app);
    border-radius: 50%;
    color: black;
}

.LoginErrorContainer {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.LoginError {
    color: rgb(29, 155, 240);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.LoginCloseButton {
    height: 25px;
    width: 25px;
    color: rgb(0, 0, 0);
}

.LoginCloseButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 18px;
    margin-top: 18px;
}

.LoginCloseButtonContainer:hover {
    background-color: var(--app-background);
    transition: all;
    transition-duration: 200ms;
}

.LoginText {
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.LoginFieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.LoginFieldContainer:focus-within {
    border: 2px rgb(29, 155, 240) solid;
}

.LoginLabel {
    margin: 8px;
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 13px;
    color: gray;
}

.LoginSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.LoginSubmit:hover {
    background-color: var(--app-color);
}