.log_me_out {
    background-color: rgb(95, 52, 52) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    width: 100%;
    cursor: pointer;
}