.sidebar-creet-modal-main-btn {
    background-color: var(--app-color) !important;
    border: none !important;
    color: white !important;
    width: 100%;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    cursor: pointer;
}

.sidebar-creet-modal-main-btn:hover {
    background-color: rgb(43, 148, 233) !important;
    border: none !important;
    color: white !important;
    width: 100%;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    cursor: pointer;
}
