.comment-edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(255, 255, 255);
    background-color: white;
    height: 20px;
    color: var(--app-color);
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.comment-edit-btn:hover {
    color: var(--app-color);
    background-color: #fafafa;
    transition: all;
    transition-duration: 200ms;
}
