.creets-wrap {
    border-top: 1px solid rgb(84, 84, 84);
    width: 500px;
}

.creets:hover {
    background-color: #fafafa;
    transition: all;
    transition-duration: 200ms;
}

.feed-creet-names-edit-and-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.creets {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 12fr;
    border-bottom: 1px solid rgb(84, 84, 84);
}

.all-creets-everything-minus-pic {
    width: 440px;
    display: flex;
    flex-direction: column;
}

.all-creets-profile-pic-link {
    margin-top: 15px;
    cursor: pointer;
    height: 44px;
}

.all-creets-profile-pic:hover {
    opacity: 0.7;
}

.all-creets-profile-pic {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-left: 15px;
}

.creet-link {
    text-decoration: none;
    cursor: pointer;
}

.recreet-icon {
    height: 20px;
    width: 20px;
}

.timestamp {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode';
    height: 30px;
}

.feed-creet-username-and-edit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 425px;
}

.feed-creet-display-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Lucida Sans Unicode';
    height: 30px;
}

.dot {
    margin-left: 12px;
}

.feed-creet-username {
    display: flex;
    align-items: center;
    color: gray;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    height: 30px;
    padding-left: 8px;
}

.timestamp-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-creet-names {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.feed-creet-icon-and-stat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-creet {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Lucida Sans Unicode';
    margin-right: 15px;
    width: 430px;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    overflow-x: hidden;
    word-wrap: break-word;
}

.feed-creet-content-lines {
    width: 405px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feed-creet-stat {
    margin-left: 5px;
}

.feed-creet-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

.feed-creet-img-container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.feed-creet-img {
    max-width: 95%;
    max-height: 500px;
    border-radius: 10px;
}
